body {
    margin: 0 10px 0 0;
    tex
}

.top {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  width: 500px;
  adding: 25px;
  border: 5px solid black;
}

ul {
    list-style-type: none;
}

ul li::before {
    content: "\F18B";
    padding: 0 10px 0 0;
}

